* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  html, body {
    overflow-x: hidden;
  } 


/*------------------------------------------- NON-DEFINITIVE -------------------------------------------*/

.padding-little-top {
  padding-top: 20px;
  text-align: left;
  position: relative;
  left: 160px;
  font-size: 40px;
  text-shadow: 13 13 4px rgba(0, 0, 0, 1);
}


  /*------------------------------------------- CONTAINER 1 -------------------------------------------*/
  

  #container {
    width: 100%;
    min-height: 110vh;
    box-sizing: border-box; 
    background-image: url('Imagens/Imagem3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #menu {
    width: 100%;
    height: 120px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  
  #logo {
    float: left;
  }
  
  #sections {
    position: relative;
    left: 320px;
  }
  
  #sections a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
 }

  #sections a:hover {
    color: black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
  }

  .botao-quadrado-menu {
    background-color: black;
    color: #f4f4f4;
    padding: 15px 32px;        
    text-align: center;         
    text-decoration: none;      
    display: inline-block;       
    font-size: 16px;            
    border: none;               
    border-radius: 0px;        
    cursor: pointer;           
    transition: background-color 0.3s; 
    position: relative;
    top: 0px;
    left: 550px; 
    font-family: 'Poppins', sans-serif;  
  }

  .botao-quadrado-menu:hover {
    background-color: #999999; 
    color: #f4f4f4;  
  } 

  #conteúdo {
    color: #f4f4f4;
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    padding: 50px 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 23px;
    line-height:  1;
    text-shadow: 13 13 4px rgba(0, 0, 0, 1);
  }

  #conteúdo p {
    color: #f4f4f4;
    font-size: 18px;
    max-width: 500px;
    font-size: 11px;
    letter-spacing: 13;
    font-family: 'Poppins', sans-serif;
    font-weight: 0;
    line-height: 1.5;
    text-shadow: 13 13 4px rgba(0, 0, 0, 1); 
  }

  .botao-arredondado {
    background-color: #f4f4f4;  
    color: black;
    padding: 15px 32px;        
    text-align: center;         
    text-decoration: none;      
    display: inline-block;       
    font-size: 16px;            
    border: none;               
    border-radius: 30px;        
    cursor: pointer;           
    transition: background-color 0.3s; 
    position: relative;
    top: 100px;
    left: 170px;
    font-family: 'Poppins', sans-serif;
  }

  .botao-arredondado:hover {
    background-color: #999999;  
    color: black;
  }


  /*------------------------------------------- CONTAINER 2 -------------------------------------------*/


 /* #container2{
    background-color: transparent;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
  }

  #container2.visible {
    opacity: 1;
    transform: translateY(0);
  }  */


  #commitment {
    background: #999999;
    width: 60%;
    height: 370px;
    border: 13 solid red;
    margin-top: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
    display: inline-block;
    font-family: 'Poppins', sans-serif;
  }

  .commitmentconteudo {
    text-align: center;
    width: 100%px;
    border: 13 solid orange;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    text-shadow: 13 13 4px rgba(0, 0, 0, 0.2); 
  }

  .commitmentconteudo2 {
    text-align: center;
    width: 100%px;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    font-size: 14px;
    margin-top: 10px;
    max-width: 620px;
    position: relative;
    left: 110px;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 13 13 4px rgba(0, 0, 0, 0.2); 
    letter-spacing: 0.5px;
  }

  .commitmentconteudo3 {
    text-align: center;
    width: 100%;
    border: 13 solid palegreen;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    font-size: 12px;
    margin-top: 10px;
    max-width: 620px;
    position: relative;
    left: 110px;
    font-weight: normal !important;
    line-height: 1.5;
    text-shadow: 13 13 4px rgba(0, 0, 0, 0.2); 
    letter-spacing: 0.5px;
  }

  #sidecommitment{
    border: 13 solid yellow;
    width: 40%;
    height: 370px;
    box-sizing: border-box; 
    background-image: url('Imagens/Imagem5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
  }

  .botao-quadrado {
    background-color: #f4f4f4;  
    color: black;
    padding: 15px 32px;        
    text-align: center;         
    text-decoration: none;      
    display: inline-block;       
    font-size: 16px;            
    border: none;               
    border-radius: 0px;        
    cursor: pointer;           
    transition: background-color 0.3s; 
    position: relative;
    top: 20px;
    left: 350px;
    font-family: 'Poppins', sans-serif;
  }

  .botao-quadrado:hover {
    background-color: black;  
    color: #999999;
  }


  /*------------------------------------------- CONTAINER 3 -------------------------------------------*/


  #container3{
    background: transparent;
    height: 600px;
  }

  #keysucess {
   /* border: 1px solid red; */
    background: #2e2e2e;
    width: 48%;
    height: 600px;
    display: inline-block;
    text-align: center;
    color: #f4f4f4;
  }

  #keysucess-conteudo {
    padding-top: 30px;
 /*   border: 1px solid red; */
    background: transparent;
    width: 70%;
 /*   height: 100px; */
    align-items: center;   
    text-align: center;
    position: relative;
    left: 95px; 
    font-weight: 700;
    text-transform: uppercase; 
  }  

  #keysucess-conteudo p {
   /* border: 1px solid red; */
    display: inline;
    text-align: center;
    width: 100%;
  }

  .keysucessp1 {
 /*  border: 1px solid red; */
    text-align: left;
  /*  font-family: 'Poppins', sans-serif;*/
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-top: 10px; 
  }

  .keysucessp2 {
  /*  border: 1px solid red; */
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding-top: 20px;
  }

  .botao-quadrado-container3 {
    background-color: #b4b4b4;  
    color: black;
    padding: 15px 32px;        
    text-align: center;         
    text-decoration: none;      
    display: inline-block;       
    font-size: 16px;            
    border: none;               
    border-radius: 0px;        
    cursor: pointer;           
    transition: background-color 0.3s; 
    position: relative;
    top: 40px;
    left: 0px;
    font-family: 'Poppins', sans-serif;
  }

  .botao-quadrado-container3:hover {
    background-color: black;  
    color: #b4b4b4;
  }
  

  #sidekeysucess {
  /*  border: 1px solid blue; */
    background: #5c5c5c;
    width: 52%;
    height: 600px;
    float: right;
  }

  #sidekeysucessheader {
    text-align: left;
    color: #f4f4f4;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 23px;
    line-height:  1;
    text-shadow: 13 13 4px rgba(0, 0, 0, 1);
    position: relative;
    left: 150px;
  }

  .topicos-verticais {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%; 
    max-width: 600px;
    margin: 0 auto;
    margin-top: 45px;
  }
  
  .topico {
    padding: 20px;
    font-size: 18px;
    color: #f4f4f4;
  }

  .topico:hover {
    background: #2e2e2e;
    width: 100%;
    transition: background-color 0.5s; 
  }
  
  .linha-horizontal {
    height: 2px;
    background-color: #2e2e2e; 
    width: 100%;
    margin: 0px 0;
  }


    /*------------------------------------------- CONTAINER 4 -------------------------------------------*/

 #container4 {
    width: 100%;
    height: 500px;
    box-sizing: border-box; 
    background-image: url('Imagens/Imagem7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
 }

 #conteúdo-container4 {
  color: #f4f4f4;
  position: relative;
  left: 50px;
  top: 100px;
  padding: 50px 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 23px;
  line-height:  1;
  text-shadow: 13 13 4px rgba(0, 0, 0, 1);
}

  #conteúdo-container4 p {
  margin-top: 20px;
  color: #f4f4f4;
  font-size: 20px;
  max-width: 500px;
  font-size: 11px;
  letter-spacing: 13;
  font-family: 'Poppins', sans-serif;
  font-weight: 0;
  line-height: 1.5;
  text-shadow: 13 13 4px rgba(0, 0, 0, 1); 
} 

  /*------------------------------------------- CONTAINER 5 -------------------------------------------*/

#container5 {
  width: 100%;
  height: 300px;
  box-sizing: border-box; 
  background: #f4f4f4;
  padding: 20px 40px 20px 40px;
}

#container5 p {
  width: 300px;
  padding-top: 10px;
  color: #2e2e2e;
}

#container5 h2 {
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase ;
    text-align: center;
    color: #2e2e2e;
}

#feetsite {
  float: left;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: relative;
  left: 100px;
}

#feetsite2 {
  float: right;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: relative;
  right: 100px;
}

#feetsite3 {
  float: left;
  position: relative ;
  left: 200px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

  /*------------------------------------------- FOOTER -------------------------------------------*/

 #footer {
  text-align: center;
  background-color: #f4f4f4;
  height: 50px;
 }