body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.top-bar {
  background-color: #f4f4f4;
  color: #1c1c1c;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translate(-5vw);
}

.info i {
  color: #1c1c1c;
  font-size: 35px;
}
.info small {
  display: block;
  font-size: 12px;
  opacity: 0.6;
}
.info p {
  margin: 0;
  font-size: 15px;
  transform: translateY(0.2vw);
  font-weight: 500;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons i {
  background: #2e2e2e;
  color: #f4f4f4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-icons i:hover {
  color: #2e2e2e;
  background: #ccc;
  transition: all 0.5s ease;
}
/*------------------------------ NAVBAR ------------------------------ */


.main-nav {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dcdcdc;
  padding: 10px 40px;
  height: 3vw;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}

.main-nav a.active {
  border-bottom: 2px solid #1c1c1c;
  padding-bottom: 5px;
  transition: all 0.5s ease;
}

.main-nav a:hover {
  border-bottom: 2px solid #1c1c1c;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 3px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  background: transparent;
  padding: 8px;
  outline: none;
}
.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

/*------------------------------ PRE-MAIN ------------------------------ */

#pre-main {
  min-height: 70vh;
  background-image: url('Imagens/services\ \(7\).jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  
}

.breadcrumb-home {
  color: #ccc;
  display: inline-block;
  position: relative;
  transform: translate(8.7vw,24vw);
  font-size: 17px;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.breadcrumb-home a {
  text-decoration: none;
  color: #ccc;
}

.breadcrumb-home a:hover {
  color: #f0f0f0 ;
  transition: all 0.3s ease;
  text-shadow: none;
  cursor: pointer;
  
}

.breadcrumb-services {
  color: #ccc;
  display: inline-block;
  position: relative;
  transform: translate(8.7vw,24vw);
  font-size: 17px;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.breadcrumb-main {
  color: white;
  display: inline-block;
  position: relative;
  transform: translate(-4.6vw,28vw);
  font-size: 45px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.arrow {
  color: #f0f0f0;
  display: inline-block;
  position: relative;
  transform: translate(8.7vw,24vw);
  font-size: 17px;
  margin: 0 9px 0 1px;
  font-weight: bolder;
}

/*------------------------------ MAIN-SERVICES ------------------------------ */

#services-section {
  padding: 60px 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
}

#services-container {
  max-width: 80vw;
  max-height: 100vw;
  margin: 0 auto;
  text-align: center;
}

#services-container .main-title {
  font-size: 12px;
  letter-spacing: 1px;
  color: grey;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1vw;
}

#services-container .main-title2 {
  font-size: 28px;
  margin-top: -0.8vw;
  letter-spacing: 0.5px;
}

#services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 80px;
}

.services-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 16px;
  text-align: left;
  box-shadow: 0 6px 15px rgba(0,0,0,0.05);
  transition: box-shadow 0.3s ease;
}

.services-card:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
} 

.services-card h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.services-card h4 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}

.Ler-mais {
  border-bottom: 2px solid #ddd;
  text-decoration: none;
}

.Ler-mais:hover {
  text-decoration: none;
  border-bottom: 2px solid #999595;
}

.services-card p {
  font-size: 14px;
  font-weight: 600;
  color: #777;
  line-height: 1.6;
  
}

.services-card a {
  display: inline-block;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.services-card a:hover {
  text-decoration: underline;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #999595;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.icon-circle img {
  width: 30px;
  height: 30px;
}

.header-service {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

h3 {
  margin: 0;
}

.service-breadcrumb {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 1.6;
  width: 45vw;
  text-align: left;
  margin-top: 5vw;
}

.advantage-li {
  color: #000;
  transform: translate(28vw, 4vw);
  font-size: 12px;
  text-align: left;
}

.advantage-li img {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.advantage-li p {
  display: inline-block;
  margin: 0;
  line-height: 1.2;
  vertical-align: middle;
  transform: translateY(0.35vw);
  font-size: 13px;
  color: #777;
  font-weight: 500;
  text-shadow: 1px 1px 5px rgba( 0, 0, 0, 0.2);

}

.advantage-li > p{
  margin-bottom: 12px;
}

/*------------------------------ FOOTER ------------------------------ */

@media (max-width: 768px) {
  #footer-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-card-menezza,
  .footer-card-services,
  .footer-card-contact,
  .footer-card-hour {
    transform: none;
    max-width: 100%;
  }

  .footer-social-icons {
    justify-content: center;
  }
}

#footer {
  background-color: #2e2e2e;
  color: #eee;
  display: block;
  justify-content: space-around;
  padding: 40px 20px;
  font-size: 14px;
  line-height: 1.6;
  transform: translateY(2vw);
}

#footer-section {
  max-width: 85vw;
  margin: 0 auto;
  display: flex;
  gap: 0px; 
  justify-content: center;
  transform: translateY(6vw);
}

.footer-card-menezza {
  display: inline-block;
  max-width: 20vw;
  transform: translate(-27.1vw);
}

.footer-card-menezza p {
  margin-bottom: 3vw;
  margin-top: 2vw;
}

.footer-card-services {
  display: inline-block;
  justify-content: center;
  align-items: center;
  max-width: 20vw;
  transform: translate(-21.8vw);
}

.footer-services-li {
  color: #000;
  font-size: 12px;
  text-align: left;
}

.footer-services-li img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  color: white;
}

.footer-services-li p {
  display: inline-block;
  margin: 0;
  line-height: 1.2;
  vertical-align: middle;
  transform: translateY(0vw);
  font-size: 15px;
  color: white;
  font-weight: 500;

}

.footer-services-li > p{
  margin-bottom: 0px;
}

.footer-card-contact {
  display: inline-block;
  justify-content: center;
  align-items: center;
  max-width: 22vw;
  transform: translate(48vw, -18.5vw);
}

.footer-card-contact p {
  display: inline;
  margin-left: 1.5vw;
}

.footer-contact-icons {
  text-align: left;
  transform: translate(-2.5vw, 0.2vw );
  margin-right: 1vw;
}

.footer-card-hour {
  display: inline-block;
  justify-content: center;
  align-items: center;
  max-width: 20vw;
  transform: translate(52vw, -12.7vw);
}

.footer-card-hour span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
  color: #acacac;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social-icons i {
  background: #2e2e2e;
  color: #f4f4f4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-social-icons i:hover {
  color: #2e2e2e;
  background: #ccc;
  transition: all 0.5s ease;
}

#copyright {
  display: grid;
  place-items: center;
  transform: translateY(-5vw);
  font-weight: 600;
  color: #999595;
}