@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
  
  
  body {
    background-color:#1f2029;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
  }
  
  .container {
    width: 600px;
    height: 500px;
    background-color: #2c2c39;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
  /*  align-items: center; */
  /*  justify-content: center; */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
  }

  .container h1 {
    position: relative;
    left: 240px;
    top: 20px;
    color: #FFF;
    white-space: nowrap;
  }

    input[type="text"]{
      border: 0px solid red;
      height: 50px;
      width: 400px;
      text-align: left;
      border-radius: 5px;
      position: relative;
      top: 125px;
      right: 25px;
      background-color: #1f2029;
      font-size: 16px;
      transition: 0.3s ease;
      font-weight: bold;
      padding-left: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .thirdinput{
        border: 0px solid red;
        height: 50px;
        width: 400px;
        text-align: left;
        border-radius: 5px;
        position: relative;
        top: 100px;
        right: 75px;
        background-color: #1f2029;
        font-size: 16px;
        transition: 0.3s ease;
        font-weight: bold;
        padding-left: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
      }

    .secondinput[type="password"] {
      border: 0px solid red;
      height: 50px;
      width: 400px;
      text-align: left;
      border-radius: 5px;
      margin-top:0px;
      position: relative;
      top: 130px;
      right: 25px;
      margin-top: 10px;
      background-color: #1f2029;
      font-size: 16px;
      transition: 0.3s ease; 
      font-weight: bold;
      padding-left: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    input::placeholder{
      color: #8f8e93;
      background-color: #1f2029;
      position: relative;
    }

    input.typing {
      color: #D3D3D3;
      font-weight: bold;
      position: relative;
      padding-left: 15px;
    }

    .submit {
      position: relative;
      right: 340px;
      top: 340px;
      width: 200px;
      height: 50px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      font-weight: bold;
      box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
    }

    input[type="submit"]:hover {
      background-color: #cccccc;
    }

    .forget {
      position: relative;
      right: 520px;
      top: 385px;
      white-space: nowrap;
    }

    

    a {
      text-decoration: none;
      color: #8f8e93;
    }

    a:hover {
      color: #cccccc;
    }

 /*   input:hover {
      border: 1px solid grey;
    } */