body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 50vh;       
    overflow-x: hidden;
}

#container1 {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box; 
    background-image: url('/Imagens/contactfundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container1 h1 {
    color: #f4f4f4;
    display: inline-block;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-transform: uppercase;
    transform: translate(5vw, 5vw);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    line-height: 1;
}

#container1 p {
    color: #f4f4f4;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    display: inline-block;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    position: relative;
    text-transform: uppercase;
    transform: translate(-14vw, 18vw);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

}

#container2 {
    height: 30vw;
}

  .contact-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 95px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .contact-card {
    text-align: center;
    max-width: 250px;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-card i {
    font-size: 40px;
    color: #2e2e2e; /* cor laranja como na imagem */
    margin-bottom: 10px;
  }
  
  .contact-card h3 {
    margin: 10px 0;
    color: #2e2e2e;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-card p {
    font-size: 14px;
    color: #858383;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .contact-card span {
    display: block;
    margin-top: 10px;
    color: #2e2e2e;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }

  .vertical-line {
    width: 1px;
    background-color: #ccc;
    height: auto;
    min-height: 100px;
    align-self: stretch;
  }

  /* -------------------@media--------------------- */

  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  
    .contact-card {
      max-width: 90%;
    }
  }

  @media (max-width: 768px) {
    .vertical-line {
      display: none;
    }
  }
