body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 50vh;       
    overflow-x: hidden;
}

.top-bar {
  background-color: #f4f4f4;
  color: #1c1c1c;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translate(-5vw);
}

.info i {
  color: #1c1c1c;
  font-size: 35px;
}
.info small {
  display: block;
  font-size: 12px;
  opacity: 0.6;
}
.info p {
  margin: 0;
  font-size: 15px;
  transform: translateY(0.2vw);
  font-weight: 500;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons i {
  background: #2e2e2e;
  color: #f4f4f4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-icons i:hover {
  color: #2e2e2e;
  background: #ccc;
  transition: all 0.5s ease;
}

/* ========================= NAVBAR SECTION ========================= */

.main-nav {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dcdcdc;
  padding: 10px 40px;
  height: 3vw;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}

.main-nav a.active {
  border-bottom: 2px solid #1c1c1c;
  padding-bottom: 5px;
  transition: all 0.5s ease;
}

.main-nav a:hover {
  border-bottom: 2px solid #1c1c1c;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 3px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  background: transparent;
  padding: 8px;
  outline: none;
}
.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
} 



#background {
  min-height: 70vh;
  background-image: url('../Imagens/contact\ \(12\).jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

.breadcrumb-home {
  color: #ccc;
  display: inline-block;
  position: relative;
  transform: translate(8.7vw,24vw);
  font-size: 17px;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.breadcrumb-home a {
  text-decoration: none;
  color: #ccc;
}

.breadcrumb-home a:hover {
  color: #f0f0f0 ;
  transition: all 0.3s ease;
  text-shadow: none;
  cursor: pointer;
  
}

.breadcrumb-services {
  color: #ccc;
  display: inline-block;
  position: relative;
  transform: translate(8.7vw,24vw);
  font-size: 17px;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.breadcrumb-main {
  color: white;
  display: inline-block;
  position: relative;
  transform: translate(-4.6vw,28vw);
  font-size: 45px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.arrow {
  color: #f0f0f0;
  display: inline-block;
  position: relative;
  transform: translate(8.7vw,24vw);
  font-size: 17px;
  margin: 0 9px 0 1px;
  font-weight: bolder;
}

/* ========================= CONTAINER 1 SECTION ========================= */

#container1 {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box; 
    background-image: url('/Imagens/contactfundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container1 h1 {
    color: #f4f4f4;
    display: inline-block;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-transform: uppercase;
    transform: translate(5vw, 5vw);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    line-height: 1;
}

#container1 p {
    color: #f4f4f4;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    display: inline-block;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    position: relative;
    text-transform: uppercase;
    transform: translate(-14vw, 18vw);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

}

/* ========================= CARDS   SECTION ========================= */

#cards-section {
    font-family: 'Inter', sans-serif;
}

#hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
   /* background-color: #f4f4f4; */
    
}

#brand-symbol {
  display: flex;
   
}

#brand-symbol img {
    width: 100%;
    max-width: 35vh;
    margin-top: -5vh;
}

.cards_title {
    margin-top: -18vh;
    font-size: 4vh;
}

.cards_subtitle {
    margin-top: -6vh;
    font-size: 1.2rem;
    color: #858383;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;
}

.card {
    background: #fff;
    border-radius: 16px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 24px;
    margin-top: 10vh;
    width: 30vh;
    height: 30vh;
    text-align: left;
    transition: transform 0.2s ease;
  }

  .icon {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;     
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #a1a1a1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

.icon svg {
  width: 60%;
  height: 60%;
  color: #000000; 
  
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 0rem; 
  margin-top: 4rem; 
}

.info-card h3 {
  margin: 0;
  margin-bottom: 1rem;
}

.info-card p {
  margin: 0;
  margin-bottom: 2rem; 
}

.info-card a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.info-card a:hover {
  text-decoration: 1px underline;
  
}

/* ========================= CONTAINER 2 SECTION ========================= */

#container2 {
    height: 30vw;
}

  .contact-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 95px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .contact-card {
    text-align: center;
    max-width: 250px;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-card i {
    font-size: 40px;
    color: #2e2e2e; /* cor laranja como na imagem */
    margin-bottom: 10px;
  }
  
  .contact-card h3 {  
    margin: 10px 0;
    color: #2e2e2e;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-card p {
    font-size: 14px;
    color: #858383;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .contact-card span {
    display: block;
    margin-top: 10px;
    color: #2e2e2e;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }

  .vertical-line {
    width: 1px;
    background-color: #ccc;
    height: auto;
    min-height: 100px;
    align-self: stretch;
  }

  /* ========================= MEDIA SECTION ========================= */

  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  
    .contact-card {
      max-width: 90%;
    }
  }

  @media (max-width: 768px) {
    .vertical-line {
      display: none;
    }
  }
