body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .top-bar {
    background-color: #f4f4f4;
    color: #1c1c1c;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .info {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translate(-5vw);
  }
  
  .info i {
    color: #1c1c1c;
    font-size: 35px;
  }
  .info small {
    display: block;
    font-size: 12px;
    opacity: 0.6;
  }
  .info p {
    margin: 0;
    font-size: 15px;
    transform: translateY(0.2vw);
    font-weight: 500;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .social-icons i {
    background: #2e2e2e;
    color: #f4f4f4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    color: #2e2e2e;
    background: #ccc;
    transition: all 0.5s ease;
  }

 /* ------------------------------ NAV  -----------------------------*/

  .main-nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dcdcdc;
    padding: 10px 40px;
    height: 3vw;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  .main-nav a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
  }
  
  .main-nav a.active {
    border-bottom: 2px solid #1c1c1c;
    padding-bottom: 5px;
    transition: all 0.5s ease;
  }
  
  .main-nav a:hover {
    border-bottom: 2px solid #1c1c1c;
    padding-bottom: 5px;
    transition: all 0.3s ease;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .search-bar input {
    border: none;
    background: transparent;
    padding: 8px;
    outline: none;
  }
  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  } 



  #background {
    min-height: 70vh;
    background-image: url('../Imagens/contact\ \(12\).jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
  }

  .breadcrumb-home {
    color: #ccc;
    display: inline-block;
    position: relative;
    transform: translate(8.7vw,24vw);
    font-size: 17px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7);
    letter-spacing: 1px;
  }
  
  .breadcrumb-home a {
    text-decoration: none;
    color: #ccc;
  }
  
  .breadcrumb-home a:hover {
    color: #f0f0f0 ;
    transition: all 0.3s ease;
    text-shadow: none;
    cursor: pointer;
    
  }
  
  .breadcrumb-services {
    color: #ccc;
    display: inline-block;
    position: relative;
    transform: translate(8.7vw,24vw);
    font-size: 17px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7);
    letter-spacing: 1px;
  }
  
  .breadcrumb-main {
    color: white;
    display: inline-block;
    position: relative;
    transform: translate(-4.6vw,28vw);
    font-size: 45px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .arrow {
    color: #f0f0f0;
    display: inline-block;
    position: relative;
    transform: translate(8.7vw,24vw);
    font-size: 17px;
    margin: 0 9px 0 1px;
    font-weight: bolder;
  }

  /* ------------------------------ TABS  -----------------------------*/

  #tabs-wrapper {
    padding: 60px 20px;
    background: #f4f4f4;
  }
  
  #tabs-section {
    display: flex;
    justify-content: center;
  }
  
  .about-content {
    display: flex;
    gap: 40px;
    align-items: center;
    max-width: 1200px;
    position: relative; /* para referenciar o absolute da imagem */
    overflow: visible; /* permite que a imagem passe da div */
  }
  
  .image-side img {
    max-width: 500px;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    height: 70vh;
  }
  
  .text-side {
    max-width: 600px;
  }

  .text-side h5 {
    color: grey;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  .text-side h2 {
    font-size: 1.5em;
    color: black;
    transform: translateY(-0.5vw);
  }
  
  .highlight {
    color: #ff9900;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .tabs {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .tab {
    padding: 10px 20px;
    border: none;
    background: #eee;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tab.active {
    background: #0057ff;
    color: white;
  }
  
  .tab-content {
    margin-top: 15px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .buttons {
    margin: 20px 0;
    padding-top: 3em;
  }

  .buttons button {
    text-align: center;
    padding: 10px 40px;
    margin-right: 1.3vw;
    border: none;
    border-radius: 2px;
    background: #dcdcdc;
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    transform: translateY(-2vw);
    font-weight: 600;
  }

  .buttons button:hover {
    background: #dcdcdc;
  }

  .text-content {
    background: #dcdcdc;
    margin-top: 20px;
    line-height: 1.6; 
    border-radius: 3px;
    padding: 15px;
    min-height: 8vw;
    box-shadow: 1px 2px 5px rgba( 0, 0, 0, 0.2);
    transition: all ease 0.5s;

    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: left;  
  }

  .buttons button.active {
    background-color: #4b4b4b;
    color: white;
    transition: all ease 0.5s; 
  }

  /* ------------------------------ COUNTER  -----------------------------*/

  #counter-wrapper {
    background: #1c1c1c;
    padding: 60px 20px;
  }
  
  #counter-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    text-align: center;
  }
  
  .counter-item h3 {
    font-size: 3rem;
    color: #ff9900; 
    margin: 0;
    font-weight: 700;
    font-family: 'Arial Black', sans-serif;
  }
  
  .counter-item p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #c4c4c4;
    font-weight: 600;
    text-transform: capitalize;
  }

  @keyframes slideDownFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-text {
    animation: slideDownFadeIn 0.5s ease forwards;
  }