body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .top-bar {
    background-color: #f4f4f4;
    color: #1c1c1c;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .info {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translate(-5vw);
  }
  
  .info i {
    color: #1c1c1c;
    font-size: 35px;
  }
  .info small {
    display: block;
    font-size: 12px;
    opacity: 0.6;
  }
  .info p {
    margin: 0;
    font-size: 15px;
    transform: translateY(0.2vw);
    font-weight: 500;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .social-icons i {
    background: #2e2e2e;
    color: #f4f4f4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    color: #2e2e2e;
    background: #ccc;
    transition: all 0.5s ease;
  }

 /* ------------------------------ NAV  -----------------------------*/

  .main-nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dcdcdc;
    padding: 10px 40px;
    height: 3vw;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  .main-nav a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
  }
  
  .main-nav a.active {
    border-bottom: 2px solid #1c1c1c;
    padding-bottom: 5px;
    transition: all 0.5s ease;
  }
  
  .main-nav a:hover {
    border-bottom: 2px solid #1c1c1c;
    padding-bottom: 5px;
    transition: all 0.3s ease;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .search-bar input {
    border: none;
    background: transparent;
    padding: 8px;
    outline: none;
  }
  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  } 



  #background {
    min-height: 70vh;
    background-image: url('../Imagens/contact\ \(12\).jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
  }

  .breadcrumb-home {
    color: #ccc;
    display: inline-block;
    position: relative;
    transform: translate(8.7vw,24vw);
    font-size: 17px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7);
    letter-spacing: 1px;
  }
  
  .breadcrumb-home a {
    text-decoration: none;
    color: #ccc;
  }
  
  .breadcrumb-home a:hover {
    color: #f0f0f0 ;
    transition: all 0.3s ease;
    text-shadow: none;
    cursor: pointer;
    
  }
  
  .breadcrumb-services {
    color: #ccc;
    display: inline-block;
    position: relative;
    transform: translate(8.7vw,24vw);
    font-size: 17px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.7);
    letter-spacing: 1px;
  }
  
  .breadcrumb-main {
    color: white;
    display: inline-block;
    position: relative;
    transform: translate(-4.6vw,28vw);
    font-size: 45px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .arrow {
    color: #f0f0f0;
    display: inline-block;
    position: relative;
    transform: translate(8.7vw,24vw);
    font-size: 17px;
    margin: 0 9px 0 1px;
    font-weight: bolder;
  }

  /* ------------------------------ TABS  -----------------------------*/

  #tabs-wrapper {
    padding: 60px 20px;
    background: #f4f4f4;
  }
  
  #tabs-section {
    display: flex;
    justify-content: center;
  }
  
  .about-content {
    display: flex;
    gap: 40px;
    align-items: center;
    max-width: 1200px;
    position: relative; /* para referenciar o absolute da imagem */
    overflow: visible; /* permite que a imagem passe da div */
  }
  
  .image-side img {
    max-width: 500px;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    height: 70vh;
  }
  
  .text-side {
    max-width: 600px;
  }

  .text-side h5 {
    color: grey;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  .text-side h2 {
    font-size: 1.5em;
    color: black;
    transform: translateY(-0.5vw);
  }
  
  .highlight {
    color: #ff9900;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .tabs {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .tab {
    padding: 10px 20px;
    border: none;
    background: #eee;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tab.active {
    background: #0057ff;
    color: white;
  }
  
  .tab-content {
    margin-top: 15px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .buttons {
    margin: 20px 0;
    padding-top: 3em;
  }

  .buttons button {
    text-align: center;
    padding: 10px 40px;
    margin-right: 1.3vw;
    border: none;
    border-radius: 2px;
    background: #dcdcdc;
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    transform: translateY(-2vw);
    font-weight: 600;
  }

  .buttons button:hover {
    background: #dcdcdc;
  }

  .text-content {
    background: #dcdcdc;
    margin-top: 20px;
    line-height: 1.6; 
    border-radius: 3px;
    padding: 15px;
    min-height: 8vw;
    box-shadow: 1px 2px 5px rgba( 0, 0, 0, 0.2);
    transition: all ease 0.5s;

    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: left;  
  }

  .buttons button.active {
    background-color: #4b4b4b;
    color: white;
    transition: all ease 0.5s; 
  }

  /* ------------------------------ COUNTER  -----------------------------*/

  #counter-wrapper {
    background: #1c1c1c;
    padding: 60px 20px;
  }
  
  #counter-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    text-align: center;
  }
  
  .counter-item h3 {
    font-size: 3rem;
    color: #ff9900; 
    margin: 0;
    font-weight: 700;
    font-family: 'Arial Black', sans-serif;
  }
  
  .counter-item p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #c4c4c4;
    font-weight: 600;
    text-transform: capitalize;
  }

  @keyframes slideDownFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-text {
    animation: slideDownFadeIn 0.5s ease forwards;
  }

  /* ------------------------------ COUNTER  -----------------------------*/

  #form {
    display: flex;
    background: #424242;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: 'Inter', sans-serif; 
  }

  #image-form img {
    width: 100%;
    max-width: 650px;
    border-radius: 8px;
    object-fit: cover;
    height: 100%;
  }

  #side-form {
    flex: 1;
    max-width: 500px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  #side-form h5 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #979797;
  }

  #side-form h2 {
    margin: 0.5rem 0 1.5rem;
    transform: translateY(-1vw);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2vw;
  }

  #form select,
  #form input,
  #form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

  }

  textarea {
    resize: none; 
  }

  .form-row {
    display: flex;
    gap: 1rem;
  }

  .form-row input {
    flex: 1;
  }

  #form button {
    padding: 1rem;
    background-color: #1f2937;
    color: white;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px; 
  } */

  #form button:hover {
    background-color: #111827;
  }

  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }
  }

  /* ------------------------------ CAROUSEL  -----------------------------*/
  .carousel-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5vw 0;
    padding-right: 2vw;
    user-select: none;
    position: relative;
    text-align: center;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    padding-top: 3vw;
  }

  .card {
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 20px;
    background: #f3f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    margin: 0 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
  }

  .card p {
    flex-grow: 1;
  }

  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

  .client img {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .carousel-dots {
    text-align: center;
    margin-top: 20px;
  }

  .dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }

  .dot.active {
    background-color: #2e2e2e;
  }

  .carousel-container .main-title {
    font-size: 12px;
    letter-spacing: 1px;
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1vw;
  }

  .carousel-container .main-title2 {
    font-size: 28px;
    margin-top: -0.8vw;
    letter-spacing: 0.5px;
  }
  
  /* ------------------------------ FOOTER  -----------------------------*/

  @media (max-width: 768px) {
    #footer-section {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .footer-card-menezza,
    .footer-card-services,
    .footer-card-contact,
    .footer-card-hour {
      transform: none;
      max-width: 100%;
    }
  
    .footer-social-icons {
      justify-content: center;
    }
  }
  
  #footer {
    background-color: #2e2e2e;
    color: #eee;
    display: block;
    justify-content: space-around;
    padding: 40px 20px;
    font-size: 14px;
    line-height: 1.6;
    transform: translateY(2vw);
  }
  
  #footer-section {
    max-width: 85vw;
    margin: 0 auto;
    display: flex;
    gap: 0px; 
    justify-content: center;
    transform: translateY(6vw);
  }
  
  .footer-card-menezza {
    display: inline-block;
    max-width: 20vw;
    transform: translate(-27.1vw);
  }
  
  .footer-card-menezza p {
    margin-bottom: 3vw;
    margin-top: 2vw;
  }
  
  .footer-card-services {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
    transform: translate(-21.8vw);
  }
  
  .footer-services-li {
    color: #000;
    font-size: 12px;
    text-align: left;
  }
  
  .footer-services-li img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    color: white;
  }
  
  .footer-services-li p {
    display: inline-block;
    margin: 0;
    line-height: 1.2;
    vertical-align: middle;
    transform: translateY(0vw);
    font-size: 15px;
    color: white;
    font-weight: 500;
  
  }
  
  .footer-services-li > p{
    margin-bottom: 0px;
  }
  
  .footer-card-contact {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 22vw;
    transform: translate(48vw, -18.5vw);
  }
  
  .footer-card-contact p {
    display: inline;
    margin-left: 1.5vw;
  }
  
  .footer-contact-icons {
    text-align: left;
    transform: translate(-2.5vw, 0.2vw );
    margin-right: 1vw;
  }
  
  .footer-card-hour {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
    transform: translate(52vw, -12.7vw);
  }
  
  .footer-card-hour span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    color: #acacac;
  }
  
  .footer-social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-social-icons i {
    background: #2e2e2e;
    color: #f4f4f4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .footer-social-icons i:hover {
    color: #2e2e2e;
    background: #ccc;
    transition: all 0.5s ease;
  }
  
  #copyright {
    display: grid;
    place-items: center;
    transform: translateY(-5vw);
    font-weight: 600;
    color: #999595;
  }